@model EditCourseViewModel
<div>
    <form method="post" asp-controller="CoursesList" asp-action="AddCourse">
        <p>
            <label>Название:</label><br />
            <input type="text" asp-for="Course.Name" class="form-control" id="exampleInputEmail1" placeholder="Введите название">
        </p>

        <p>
            <label>Описание:</label><br />
            <input class="form-control" type="text" asp-for="Course.Description" placeholder="Краткое описание" />
        </p>

        <p>
            <label>Язык:</label><br />
            <select name="language">
                @foreach (var item in Model.Languages)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </p>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <input type="submit" class="btn btn-primary" value="Сохранить" />
        </div>
    </form>

    @foreach (var task in Model.Course.Tasks)
    {
        <h3><p>@task.Text</p></h3>

        foreach (var answer in task.Answers)
        {
            <p>@answer.Value</p>
        }

    }

    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Добавить
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Новое задание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" asp-controller="CoursesList" asp-action="AddTask">
                        <input type="hidden" value="@Model.Course.Id" name="courseId" />
                        <p>
                            <label>Задание:</label><br />
                            <input type="text" name="text" class="form-control" id="exampleInputEmail1" placeholder="Введите текст задания">
                        </p>
                        <div id="answers">
                            <p>
                                <lable>Вариант ответа</lable>
                                <input type="text" name="answers[0].value" class="form-control" />
                                <input type="checkbox" value="true" name="answers[0].isright" class="form-control" />
                            </p>
                            <p>
                                <lable>Вариант ответа</lable>
                                <input type="text" name="answers[1].value" class="form-control" />
                                <input type="checkbox" name="answers[1].isright" class="form-control" />
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <input type="submit" class="btn btn-primary" value="Создать" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function addAnswer() {
        let answers = document.getElementById('answers');
        let newAnswer = document.createElement('input');
        newAnswer.setAttribute('name', 'answers[3].value');
        answers.append(newAnswer);
    }
</script>