@inject Automated.Course.System.BLL.Interfaces.ILanguageService LanguageService
@inject Microsoft.AspNetCore.Identity.UserManager<Automated.Course.System.DAL.Entities.User> UserManager
@model CoursesListViewModel
@{
    ViewData["Title"] = "Courses";
}
<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Добавить
</button>


@if (Model.Courses.Count != 0)
{
    <div class="row">
        @foreach (var course in Model.Courses)
        {
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">Featured</h5>
                    <img class="card-img-top" src="~/Assets/Course.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <p class="card-text">@course.Description</p>
                        <p class="card-text">Автор курса: @UserManager.FindByIdAsync(course.CreateUserId).Result.UserName</p>
                        <p class="card-text text-muted"> @LanguageService.GetLanguageById(course.LanguageId).Name</p>
                        <a asp-controller="CoursesList" asp-action="Edit" asp-route-courseId="@course.Id" class="btn btn-primary">Редактировать</a>
                        <a href="#" class="btn btn-primary">Удалить</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
@if (Model.Courses.Count == 0)
{
    <p class="display-4">У вас пока нет курсов</p>
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Создать новый курс</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" asp-controller="CoursesList" asp-action="AddCourse">
                        <p>
                            <label>Название:</label><br />
                            <input type="text"  name="name" class="form-control" id="exampleInputEmail1" placeholder="Введите название">
                        </p>

                        <p>
                            <label>Описание:</label><br />
                            <input class="form-control" type="text" name="description" placeholder="Краткое описание" />
                        </p>

                        <p>
                            <label>Язык:</label><br />
                            <select name="language">
                                @foreach (var item in Model.Languages)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <input type="submit" class="btn btn-primary" value="Создать" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

